.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.title__logo {
  width: 50px;
  height: 50px;
  padding-right: 25px;
}

h1 {
  font-size: 3.6rem;
  color: white;
}
