.forms {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #94a3b8;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 10px;
  width: 450px;
  height: 600px;
  text-align: center;
}

.forms__close {
  width: 25px;
  height: 25px;
  position: relative;
  bottom: 1rem;
  left: 14rem;
  cursor: pointer;
}

.todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todos button {
  margin-top: 1rem;
}

.todos__container {
  font-size: 1rem;
  width: 20rem;
  height: 15rem;
  background-color: #fff;
  color: black;
  padding-left: 1rem;
  padding-top: 1rem;
  border: 2px solid #333;
  margin-bottom: 1rem;
}

.todos__container ul {
  padding-left: 1rem;
}

.todos__container li {
  text-align: start;
}

form {
  width: inherit;
  height: inherit;
  padding-top: -100rem;
}

form > * {
  margin-bottom: 1rem;
}

form input {
  border-radius: 5px;
  width: 20rem;
  height: 3rem;
  font-size: 20px;
  background-color: #fff;
  color: black;
  padding-left: 1rem;
}
